###########
# Local and temporary files
###########

config.deploy.js
dist/
*.lock

# Bower, Node and Composer directories
bower_components/
node_modules/
vendor/

###########
# IDE
###########

# Netbeans
nbproject/